    .card {
      width: 100% !important;
      cursor: pointer;
      padding: 15px 0 0;
      // background-color: #eaeaeea9;
      border-radius: 5px;
      // box-shadow: 0px 2px 2px rgb(213, 211, 211);
      height: 500px;
      width: 100%;
   

      @media (max-width: 600px) {
        height: 480px;
      }

      .img-wrapper {
        position: relative;
        overflow: hidden;
        // border-radius: 5px;
        background-color: #F0F0F0;
        height: 75%;
        width: 100%;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(rgba(23, 23, 23, 0.171));
          pointer-events: none;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 1;
          transition: all ease 0.1s;
        }
        img {
          background-position: center;
          background-size: cover;
          object-fit: contain;
          width: 100%;
          height: 100%;
          transition: all ease-in-out 0.3s;
          display: block;
        }
      }
      &:hover {
        .img-wrapper::before {
          opacity: 1;
        }
        img {
          scale: 1.1;
        }
        .info{
          .about{
            .para{
              border-bottom: 1.4px solid black;
              width: fit-content;
            }
          }
        }

      }

      .info {
        padding: 3px 5px;
        h3 {
          color: #eca711;
          font-size: 16px;
          font-family: outfit;
          font-weight: 600;
          letter-spacing: 1px;
          padding: 5px 0 0 0;
        }
        .about {
          font-size: 15px;
          padding: 5px 0 0;
          font-family: outfit;
          color: rgb(0, 0, 0);
          
          h4 {
            font-weight: 400;
            padding-top: 8px;
          }
          h5 {
            padding-top: 10px;
            font-size: 14px;
            font-family: outfit;
            font-weight: 500;
            color: rgb(14, 45, 124);
            text-decoration: underline;
          }
        }
      }
    }
 