 .footer {
    display: flex;
    flex-direction: column;
    background-color: #181733;
    color: #fff;
    gap: 20px;
    padding: 0px 80px;

    @media (max-width: 786px) {
      padding: 10px 18px;
    }
    .web-name {
      width: 100%;
      color: #fff;
      padding: 0px 0 20px;
      font-weight: 900;
      white-space: nowrap;
      overflow-x: hidden;
      overflow-y: hidden; // Add this to hide vertical overflow
      padding-bottom: 130px;
      @media (max-width: 768px) {
        padding: 60px 18px;
      }

      h1 {
        font-size: 11.5vw;
        transform-origin: top left; // Changed from "left" to "top left"
        transform: scaleY(1.8);
        font-family: outfit;
        white-space: nowrap;
        line-height: 1;
        margin: 0; // Add this to remove default margin

        @media (min-width:500px) and (max-width: 786px) {
          font-size: 11vw;
          letter-spacing: -0.02rem;
        }
        @media(max-width:500px){
          font-size: 10.5vw;
        }
        @media (min-width: 820px) and (max-width: 1220px) {
          font-size: 11vw;
          letter-spacing: -0.1rem;
        }
        @media (min-width: 786px) and (max-width: 820px) {
          font-size: 10.7vw;
          letter-spacing: -0.1rem;
        }
      }
    }
    .footer-content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @media (min-width:650px) and (max-width: 925px) {
        grid-template-columns: repeat(3,1fr);
      }
      @media (min-width:500px) and (max-width: 650px) {
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
      }
      @media (max-width:500px) {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
      }

      .footer-left,
      .footer-center1,
      .footer-center2,
      .footer-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h3 {
          font-family: outfit;
          font-weight: 400;
        }
        ul {
          li {
            list-style: none;
            margin-bottom: 10px;
            font-family: roboto;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .footer-end {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;
      h3 {
        font-size: 14px;
        @media (max-width: 786px) {
          text-align: center !important;
        }
      }
      // img{
      //   height: 20px;
      //   width: 40px;
      //   color: white;
      // }
    }
  }