.info-card {
        background-color: #fff;
        padding: 10px;
        border: 1px solid #93aee6;
        border-radius: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        height: fit-content !important;
        .title {
            color: rgb(54, 53, 53);
            font-size: 17px;
            font-family: system-ui;
            font-weight: 500;
        }
        .digit-info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h3{
            font-size: 22px;
          }

          .icon-wrapper {
            background-color: #f1f5f7;
            padding: 10px 12px;
            border-radius: 5px;
            i {
              font-weight: 700;
            }
          }
        }
        .card-desc {
          margin-top: 5px;
        }
      }
