.inputField {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  label {
    position: absolute;
    top: -8px;
    font-weight: 600;
    background-color: #fff;
    margin-left: 14px;
    font-size: 13px;
    padding: 0 3px;
  }
  input {
    padding: 16px 40px 12px 16px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    font-size: 15px;
  }
  select {
    padding: 16px 40px 12px 16px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    font-size: 15px;
  }
  .dim {
    background-color: #f7f6fe;
    color: #ababab;
    border: 1px solid #ddd;
    transition: all 0.3s ease;

    &:focus {
      background-color: #fff;
      color: #000;
      border-color:#23386E;
    }
  }
  .error {
    border: 1px solid rgb(224, 121, 121);
    box-shadow: 0 0 7px rgba(255, 106, 106, 0.6);
  }
  .active {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 12px;
    color: rgb(204, 66, 66);
  }
}
