.navbar.dark{
  background-color: #111;
  color: white;
  transition: all 0.2s ease ;
}

.navbar {
  padding: 10px 2.4vw;
  position: fixed;      
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: #fff;
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12vw;
    width: 100%;
    @media (max-width:420px){
      gap: 7vw;
    }
    
    .img-container {
      display: flex;
      align-items: center;
      i {
        margin-right: 18px;
        font-size: 18px;
        font-weight: 100;
        cursor: pointer;
        @media (min-width: 1040px) {
          display: none;
        }
      }
      img {
        height: 34.9px;
        width: 125px;
      }
    }
    
    @media (max-width: 1040px) {
      .menu-list ul {
        max-height: 100vh;    
        overflow-y: auto;  
        display: flex;
        flex-direction: column;
        position: absolute;
        top:128%;
        left: -3%;
        background-color: rgb(0, 0, 0);
        width: 105.6%;
        z-index: 10;
        padding: 10px ;
        margin-bottom: 20px;
        &::-webkit-scrollbar{
          display: none;
        }
        li {
          border-bottom: 1px solid black;
          height: 136px;
          position: relative;
          margin-bottom: 7px;
          border-radius: 5px;

          div {
            position: absolute;
            bottom: 5%;
            left: 4%;
            font-size: 16px;
            font-family: Roboto;
            font-weight: 700;
            letter-spacing: 0.4px;
          }
        }
      }
      .menu-list ul.show-menu {
        display: block;
         li{
          img{
            display: block;
          }
        }
      }
      .menu-list ul.hide-menu {
        display: none;
        li{
          img{
            display: none;
          }
        }
      }
    }

    .menu-list {
      ul {
        display: flex;
        gap: 4vw;
        list-style: none;

        .nav-link{
          color: inherit;
          text-decoration: none;
        }

        .active{
            color: #efc157;
            text-decoration: underline;
            transition: all 0.2s;
          }

        li {
          font-family: Roboto;
          font-size: 15px;
          font-weight: 400;
          letter-spacing: -0.7px;
          white-space: nowrap;
          cursor: pointer;
          
          &:hover{
            color: #efc157;
            text-decoration: underline;
            transition: all 0.2s;
          }
          @media (max-width: 1050px) {
            font-size: 12px;
          }
          
          img{
            height: 136px;
            background-position: center;
            object-fit: cover;
            width: 100%;
            display: none;
            border-radius: 5px;
          }
        }
      }
    }

    .header-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.4vw;
      @media(max-width:786px){
        gap: 2.5vw;
      }

      .user-info{
        position: relative;
      }
      .show-opt {
        visibility: visible !important;
        opacity: 1 !important;
        transform: translateY(0);
        pointer-events: auto;
      }
      .setting-options {
        position: absolute;
        z-index: 1001;
        background-color: #fff;
        box-shadow:
          0 2px 4px rgba(0, 0, 0, 0.08),
          0 2px 7px rgba(0, 0, 0, 0.12);
        padding: 10px 7px;
        top: calc(100% + 5px);
        left: 0;
        right: 0;
        border-radius: 10px;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.3s;

        ul {
          display: flex;
          gap: 5px;
          flex-direction: column;
          list-style: none;

          li {
            padding: 7px;
            border-radius: 10px;
            font-size: 14px;
            font-family: outfit;
            .icon {
              margin-right: 4px;
              font-size: 13px;
            }
            &:hover {
              background-color: #f1f7ff;
            }
          }
        }

        // display: none;
      }

      .icon,i{
        cursor: pointer;
      }
      .country {
        display: flex;
        align-items: center;
        cursor: pointer;
        .sm-circle {
          height: 1rem;
          width: 1rem;
          margin-right: 0.3vw;
          margin-bottom: 2px;
          @media(max-width:786px){
            margin-right: 0.7vw;
          }
          img{
            background-position: center;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        span {
          align-self: end;
          font-size: 13px;
        }
      }
    }
  }
}
