.Newcard {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  .img-wrapper {
    background-color: cadetblue;
    position: relative;
    height: 300px;
    width: 280px !important;
    overflow: hidden;
    @media (max-width: 786px) {
      width: 230px !important;
      height: 250px !important;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(23, 23, 23, 0.171));
      pointer-events: none;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 9999;
      transition: all ease 0.1s;
    }
    img {
      background-position: center;
      background-size: cover;
      object-fit: contain;
      width: 100%;
      height: 100%;
      transition: all ease 0.4s;
      display: block;
      background-color: #f0f0f0;
    }
  }
  &:hover {
    .img-wrapper::before {
      opacity: 1;
    }
    img {
      scale: 1.1;
    }
  }

  .info {
    padding: 3px 5px;
    &:hover {
      .para {
        text-decoration: underline;
      }
    }
    h3 {
      color: #eca711;
      font-size: 16px;
      font-family: outfit;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 5px 0 0;
    }
    .about {
      font-size: 15px;
      padding: 5px 0;
      font-family: outfit;
      color: white;
      h4 {
        font-weight: 400;
        padding-top: 8px;
      }
    }
  }
}
