.edit-modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10004;

  form {
    width: 450px;
    background-color: rgb(255, 255, 255);
    padding: 15px 30px 30px;
    border-radius: 4px;
    @media(max-width:786px){
        width: 95%;
    }

    .edit-header{
        font-size: 20px;
        margin-bottom: 24px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e3e3e3;
        h3{
            font-family: system-ui;
            font-weight: 500;
        }

    }

    .inputField{
        margin-bottom: 30px;
    }

    .btns {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      .cancel{
        background: #f7f6fe;
        color: #23386e;
        font-weight: 500;
        font-family: outfit;
      }
      .edit{
        font-weight: 500;
        font-family: outfit;
      }
      button {
        width: 100%;
        background: #23386e;
        padding:8px 8px ;
        outline: none;
        color: #fff;
        font-size: 18px;
        border-radius: 4px;
        outline: none;
        border: none;
        cursor: pointer;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        // margin-top: 10px;
        @media (max-width: 890px) {
          margin-top: 12px;
          font-size: 16px;
        }
      }
    }
  }
}
