.admin-layout {
  display: flex;
  position: relative;
  // overflow-y: hidden;
  height: 100vh;

  @media (max-width: 786px) {
    // display: block;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.3);
    z-index: 98;
  }
  .admin-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
}
