@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.landing {
  height: 100%;
  .video1 {
    width: 100%;
    height: 85vh;
    background-color: #181733 !important;
    position: relative;
    overflow: hidden;

    .header {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      font-family: outfit;
      z-index: 10;
      opacity: 0;
      animation: fadeIn 6s ease forwards;
      pointer-events: none;
      margin-top: 20px;

      @media (max-width: 450px) {
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 20px 40px;
        gap: 20px;
      }

      h1 {
        color: #fff;
        text-transform: uppercase;
        font-size: clamp(35px, 5vw, 64px);
        font-weight: 900;
        white-space: nowrap;
        font-family: outfit;
        pointer-events: none;
      }
      .shopBtn {
        padding: 0.7vw 1vw 0.7vw 1.5vw;
        font-size: clamp(16px, 0.7vw, 40px);
        font-weight: 800;
        border-radius: 5px;
        white-space: nowrap;
        background-color: #eca711;
        display: flex;
        align-items: center;
        outline: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        pointer-events: auto !important;

        @media (max-width: 900px) {
          padding: 10px 20px;
        }
        i {
          margin-left: 20px;
          margin-right: 0px;
          font-size: clamp(5px, 30vw, 20px);
          font-weight: 200;
        }
      }
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none !important;
      z-index: 1;
    }
  }
  .section2 {
    height: 100%;
    width: 100%;
    background-color: #181733;
    color: #fff;
    .newCollection-container {
      padding: 40px 80px;
      @media (max-width: 786px) {
        padding: 20px 18px;
      }
      h1 {
        color: #eca711;
        font-family: outfit;
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 0.5px;
        flex-shrink: 0;
        margin-bottom: 20px;
      }
      .new-card {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // justify-self: space-between;
        // align-items: center;
        // gap: 1.5rem;
        // width: 100%;
        // overflow-x: auto;
        // // flex-wrap: nowrap;
        // &::-webkit-scrollbar {
        //   display: none;
        // }
        // @media (max-width: 1400px) {
        //   grid-template-columns: repeat(3, 1fr);
        // }
        // @media (max-width: 1024px) {
        //   grid-template-columns: repeat(2, 1fr);
        // }
        // @media (max-width: 600px) {
        //   grid-template-columns: 1fr;
        // }

        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .slider1 {
      width: 100%;
      overflow: hidden;
      .track {
        display: flex;
        white-space: nowrap;
        width: fit-content;
        gap: 80px;
        h1 {
          flex-shrink: 0;
          font-size: 70px;
          font-family: outfit;
          .tight {
            display: inline-block;
            width: 15px;
          }
        }
      }
    }
    .slider2 {
      width: 100%;
      overflow-x: hidden;
      // padding-bottom: 5px;
      .track2 {
        display: flex;
        white-space: nowrap;
        gap: 80px;
        h1 {
          flex-shrink: 0;
          font-size: 70px;
          transform: translateX(-116%);
          font-family: outfit;
        }
      }
    }
  }
  .section3 {
    height: 100%;
    width: 100%;
    position: relative;
    // .cursor {
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   width: 120px;
    //   height: 120px;

    //   background-image: url("../../../assets/img/arrow.png");
    //   background-size: cover; /* acts like background-color */
    //   background-repeat: no-repeat;
    //   background-position: center;

    //   z-index: 9999;

    //   opacity: 1;
    // }

    .img-wrapper {
      height: 570px;
      width: 100%;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; /* controls overlay height */
        background: linear-gradient(rgba(0, 0, 0, 0.456));
        pointer-events: none;
      }
      img {
        background-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-color: #5958583a;
        z-index: 1;
      }
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      inset: 0;
      @media (max-width: 450px) {
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 20px 40px;
      }
      h1 {
        color: #fff;
        text-transform: uppercase;
        font-size: clamp(35px, 5vw, 64px);
        font-weight: 900;
        margin-bottom: 20px;
        font-family: outfit;
        @media (min-width: 520px) {
          white-space: nowrap;
        }
      }
      .shopBtn {
        padding: 0.7vw 1vw 0.7vw 1.5vw;
        font-size: clamp(16px, 0.7vw, 40px);
        font-weight: 800;
        border-radius: 5px;
        white-space: nowrap;
        background-color: #eca711;
        display: flex;
        align-items: center;
        outline: none;
        border: none;
        cursor: pointer !important;
        text-transform: uppercase;
        font-family: outfit;

        @media (max-width: 900px) {
          padding: 10px 20px;
        }
        i {
          margin-left: 20px;
          margin-right: 0px;
          font-size: clamp(5px, 30vw, 20px);
          font-weight: 500;
        }
      }
    }
  }
  .section4 {
    background-color: #181733;
    width: 100%;
    .newCollection-container {
      padding: 40px 80px;
      @media (max-width: 786px) {
        padding: 20px 18px;
      }
      .new-card {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      h1 {
        color: #eca711;
        font-family: outfit;
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 0.5px;
        flex-shrink: 0;
        margin-bottom: 20px;
      }
      .collection-card {
        display: flex;
        justify-self: space-between;
        align-items: center;
        gap: 30px;
        overflow-x: auto;
        width: 100%;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
