.user-auth{
    .container{
        max-width: 47.8rem;
        margin:6rem auto 14rem;

        @media(max-width:1040px){
            margin:5.8rem auto 14rem;
        }

        .header{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
          img{
            width: 14rem;
            height: 11rem;
        }
        
        p{
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-size: 16px;
            color: #eca711;
            font-family: nunito;
          }
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .field-wrapper{
              width: 60%;
              @media(max-width:786px){
                width: 80%;
              }
              .sign-in{
                  width: 100%;
                  margin: 10px 0 12px;
                  padding: 14px 20px;
                  font-size: 14px;
                  border-radius: 5px;
                  outline: none;
                  border: 1px solid rgba(95, 93, 93, 0.529);
                  background-color: #ffb300b8;
                  text-transform: uppercase;
                  font-family:roboto ;
                  font-weight: 600;
                  cursor: pointer;
                  &:hover{
                    background-color: #fab50f;
                    transition: all 0.2s;
                  }
              }
            }


            .directedTo{
              color: #284189;  
              text-transform: uppercase;
              text-decoration: underline;
              margin-top: 19px;
              cursor: pointer;
              font-family: roboto;
              font-size: 14px;
              &:hover{
                color: #213267;
              }
            }
        }
    }
}